
  <div id="map-container">
    <img id="map" src="imgs/Blank_US_map_48states.svg">

    <div id="shown-info">
      <a id="american-button" class="league">American</a>
      <a id="national-button" class="league">National</a>
      <center><h4 id="team-name"></h4></center>

      <div id="text-info">
        <div id="division-lists-container">
        <div class="division-list" id="west">
          <h3>West Division</h3>
          <ol>
          </ol>
        </div>
        <div class="division-list" id="central">
          <h3>Central Division</h3>

          <ol>
          </ol>
        </div>
        <div class="division-list" id="east">
          <h3>East Division</h3>
          <ol>
          </ol>
        </div>
      </div>

      </div>
    </div>






    <!-- American/West -->
    <!-- Angels/Athletics/Mariners/Rangers -->
    <img class="american west team" id="seattle-mariners" src="imgs/mariners.png">
    <img class="american west team" id="los-angeles-angels-of-anaheim" src="imgs/angels.png">
    <img class="american west team" id="oakland-athletics" src="imgs/athletics.png">
    <img class="american west team" id="texas-rangers" src="imgs/rangers.png">

    <!-- American/Central-->
    <!--whitesox/indians/tigers/royals/twins-->
    <img class="american central team" id="chicago-whitesox" src="imgs/whitesox.png">
    <img class="american central team" id="cleveland-indians" src="imgs/indians.png">
    <img class="american central team" id="kansas-city-royals" src="imgs/royals.png">
    <img class="american central team" id="detroit-tigers" src="imgs/tigers.png">
    <img class="american central team" id="minnesota-twins" src="imgs/twins.png">

    <!-- American/East -->
    <!--yankees/orioles/redsox/rays/bluejays-->
    <img class="american east team" id="new-york-yankees" src="imgs/yankees.png">
    <img class="american east team" id="baltimore-orioles" src="imgs/orioles.png">
    <img class="american east team" id="boston-redsox" src="imgs/redsox.png">
    <img class="american east team" id="tampa-rays" src="imgs/devilrays.png">
    <img class="american east team" id="toronto-bluejays" src="imgs/bluejays.png">

    <!-- National/West -->
    <!-- diamondbacks/rockies/dodgers/padres/giants -->
    <img class="national west team" id="san-diego-padres" src="imgs/padres.png">
    <img class="national west team" id="colorado-rockies" src="imgs/rockies.png">
    <img class="national west team" id="arizona-diamondbacks" src="imgs/diamondbacks.png">
    <img class="national west team" id="san-francisco-giants" src="imgs/giants.png">
    <img class="national west team" id="los-angeles-dodgers" src="imgs/dodgers.png">

    <!-- National/Central -->
    <!-- cubs/reds/astros/brewers/pirates/cardinals -->
    <img class="national central team" id="houston-astros" src="imgs/astros.png">
    <img class="national central team" id="chicago-cubs" src="imgs/cubs.png">
    <img class="national central team" id="cincinatti-reds" src="imgs/reds.png">
    <img class="national central team" id="milwaukee-brewers" src="imgs/brewers.png">
    <img class="national central team" id="st-louis-cardinals" src="imgs/cardinals.png">
    <img class="national central team" id="pittsburg-pirates" src="imgs/pirates.png">

    <!-- National/East -->
    <!-- braves/marlins/mets/phillies/nationals/-->
    <img class="national east team" id="atlanta-braves" src="imgs/braves.png">
    <img class="national east team" id="philladelphia-phillies" src="imgs/phillies.png">
    <img class="national east team" id="florida-marlins" src="imgs/marlins.png">
    <img class="national east team" id="new-york-mets" src="imgs/mets.png">
    <img class="national east team" id="washington-nationals" src="imgs/nationals.png">






  </div>